.highlighted-project {
  .img-container {
    position: relative;
    padding: 0;
  }

  /*
     http://www.mademyday.de/css-height-equals-width-with-pure-css.html
   */

  .img-container:before {
    content: "";
    display: block;
    padding-top: 50%; /* initial ratio of 1:1*/
  }

  // Remove height: 100% to remove stretching
  img {
    position: absolute;
    top: 0;
    width: 100%;
    max-height: 100%;
  }

  p, li {
    color: #777;
    font-size: 18px;
  }

  a {
    text-decoration: underline;
    color: #777;
  }

  a:hover {
    color: #C74930;
  }

  .highlight {
    font-weight: bolder;
  }

  .project-details-container {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
