.contact {
  h1 {
    margin: 0;
    font-weight: bolder;
    font-size: 32px;
    padding: 20px;
  }

  .field {
    font-size: 20px;
  }

  .field-name {
    padding: 0 10px;
  }

  .value {
    font-size: 22px;
  }

  a {
    color: #FB9591;
  }
}
