.highlighted-projects-container {
  h1 {
    margin: 20px 0;
    font-weight: bolder;
    font-size: 32px;
  }

  .highlighted-projects-wrapper {
    padding: 0;
  }

  .fa:focus {
    outline: none;
  }

  .fa-arrow-circle-left, .fa-arrow-circle-right {
    position: fixed;
    font-size: 30px;
  }

  button {
    background-color: transparent;
    border: none;
  }

  .fa-arrow-circle-left {
    top: 350px;
    left: 20%;
  }

  .fa-arrow-circle-right {
    top: 350px;
    right: 5%;
  }

  @import "../components/highlighted-projects-container/highlighted-project.scss";
}
