.portfolio {
  .portfolio-header {
    padding: 10px 0;
  }

  h1 {
    margin: 0;
    font-weight: bolder;
    font-size: 32px;
  }

  .profile-links {
    font-style: italic;
    font-size: 14px;
  }

  .profile-links > a {
    color: #FB9591;
  }

  .portfolio-route-holder {
    width: 100%;
  }

  @import '../components/portfolio-content';
}
